{% load static %}
<html>
    <head>
        <meta charset="UTF-8">
        <title>ショッピングカート</title>
        <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    </head>

    <body>
        <h2>ショッピングカート</h2>

        <table border="1">
            <tr>
                <th>商品名</th>
                <th>商品の色</th>
                <th>メーカー名</th>
                <th>単価</th>
                <th>数量</th>
                <th>合計金額</th>
                <th>修正</th>
                <th>削除</th>
            </tr>

            {% for cart in cart_list %}
                <tr>
                    <td>{{ cart.item.name }}</td>
                    <td>{{ cart.item.color }}</td>
                    <td>{{ cart.item.manufacturer }}</td>
                    <td>{{ cart.item.price }}円</td>

                    <td>
                        <form>
                            {% csrf_token %}

                            <select name="amount">
                                {% for amount in cart.amount_list %}
                                    {% if amount == cart.amount %}
                                        <option value="{{ amount }}" selected>{{ amount }}</option>
                                    {% else %}
                                        <option value="{{ amount }}">{{ amount }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </form>
                    </td>

                    <td>{{ cart.total_price }}円</td>

                    <td>
                        <form>
                            <input type="submit" value="修正">
                        </form>
                    </td>

                    <td>
                        <form>
                            {% csrf_token %}
                            <input type="submit" value="削除">
                        </form>
                    </td>
                </tr>

            {% empty %}
                <tr>
                    <td colspan="8">ショッピングカートに商品はありません。</td>
                </tr>
            {% endfor %}
        </table>

        <p>
            合計金額：{{ total_price_all }}円
        </p>

        {% if cart_list %}
            <form action="#" method="GET">
                <input type="submit" value="購入する">
            </form>
        {% endif %}

        <p>
            <a href="{% url 'top' %}">商品検索へ戻る</a>
        </p>
    </body>
</html>