{% load static %}
<html>
    <head>
        <meta charset="UTF-8">
        <title>商品検索</title>
        <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    </head>

    <body>
        <h1>商品検索</h1>

		<form action="{% url 'show_result' %}" method="GET">
			<table>
				<tr>
					<th>{{ form.category.label }}：</th>
					<td>{{ form.category }}</td>

					<th>{{ form.keyword.label }}：</th>
					<td>{{ form.keyword }}</td>

					<td>
						<input type="submit" value="検索">
					</td>
				</tr>
			</table>
		</form>

        <p>
            <a href="{% url 'cart' %}">ショッピングカートを見る</a>
        </p>

        <p>
            <a href="{% url 'purchase_history' %}">購入履歴</a>
        </p>

        <hr>

        {% if login_user_id %}
            <p>ようこそ{{ login_name }}さん</p>

            <p>
                <a href="{% url 'user_info' %}">会員情報の確認</a>
            </p>

            <p>
                <a href="{% url 'update_user' %}">会員情報の変更</a>
            </p>

            <p>
                <a href="{% url 'logout' %}">ログアウト</a>
            </p>

            <p>
                <a href="{% url 'admin_login' %}">管理者ページ</a>
            </p>

        {% else %}
            <p>
                <a href="{% url 'login' %}">ログイン</a>
            </p>

            <p>
                <a href="{% url 'admin_login' %}">管理者ページ</a>
            </p>
        {% endif %}
    </body>
</html>