{% load static %}
<html>
    <head>
        <meta charset="UTF-8">
        <title>商品検索</title>
    </head>

    <body>
        <h2>商品の検索を行います。</h2>
		<br>
		<form action="{% url 'show_result' %}" method="GET">
			<table>
				<tr>
					<th>{{ form.category.label }}：</th>
					<td>{{ form.category }}</td>

					<th>{{ form.keyword.label }}：</th>
					<td>{{ form.keyword }}</td>

					<td>
						<input type="submit" value="検索">
					</td>
				</tr>
			</table>
		</form>

        <p>
            <a href="#">ショッピングカートを見る</a>
        </p>

        <p>
            <a href="#">購入履歴</a>
        </p>

        {% if login_user_id %}
			<br>
            <h5>ようこそ{{ login_name }}さん</h5>

            <p>
                <a href="#">会員情報の確認</a>
            </p>

            <p>
                <a href="#">会員情報の変更</a>
            </p>

            <p>
                <a href="{% url 'logout' %}">ログアウト</a>
            </p>

            <p>
                <a href="#">管理者ページ</a>
            </p>

        {% else %}
            <p>
                <a href="{% url 'login' %}">ログイン</a>
            </p>

            <p>
                <a href="#">管理者ページ</a>
            </p>
        {% endif %}
    </body>
</html>