{% load static %}
<html>
    <head>
        <meta charset="UTF-8">
        <title>会員情報</title>
        <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    </head>

    <body>
        <h2>会員情報</h2>

        {% if error %}
            <p>{{ error }}</p>
        {% endif %}

        <form action="{% url 'update_user_confirm' %}" method="POST">
            {% csrf_token %}

            <table>
                {% for field in form %}
                    <tr>
                        <th>{{ field.label }}：</th>
                        <td>{{ field }}</td>
                    </tr>
                {% endfor %}

                <tr>
                    <td colspan="2">
                        <input type="submit" value="変更">
                    </td>
                </tr>
            </table>
        </form>

        <p>
            <a href="#">退会する</a>
        </p>

        <p>
            <a href="#">購入履歴へ</a>
        </p>

        <p>
            <a href="{% url 'top' %}">商品検索へ</a>
        </p>
    </body>
</html>